useDynLib(mixnet)
import(methods)
importFrom("graphics", "abline", "hist", "lines", "par", "points", "rect", "text")
importFrom("stats", "dpois", "kmeans", "rbinom", "rmultinom")
export(mixnet)
export(graph.affiliation)
S3method(plot, mixnet)
exportClasses(spmgraph)
exportMethods(getEdges, getAdjacencyMatrix)
